javascript:
  $(document).ready(function() {
    admin.loadAndRender();
    
    $('#add_day').click(function() {
      admin.addDay();
    });
    
    $('#remove_day').click(function() {
      admin.removeDay();
    });
    
    $('.day').live('click', function() {
      admin.toggleDay(this.id);
    });
    
    $('#save').click(function() {
      admin.save();
    });
  });

div.container
  div.row
    div.span10.offset1
      h2 Настройка
      
      p
        div#schedule class="btn-group"
          input.btn type="button" value="-" class="btn-mini" id="remove_day"
          input.btn type="button" value="+" class="btn-mini" id="add_day"
      
      p
        button.btn#save class="btn-primary" Сохранить
