
/* Body and structure
-------------------------------------------------- */
body {
  background-color: #fff;
  position: relative;
}

.year {
  font-size: 108px;
  margin-top: 30px;
}

.month {
  font-size: 42px;
  color: red;
}

.time {
  float: right;
  font-size: 36px;
  text-align: right;
}

.calendar {
}

.calendar th {
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  width: 150px;
}

.calendar td {
  height: 50px;
  font-size: 24px;
  color: #666;
}

td.today {
  background-color: #c0efc0 !important;
}

td.weekend {
  color: red;
}

td.working {
  background-color: #efefef;
}

.content {
  color: black;
  font-size: 11px;
  line-height: 0px;
}

#legend {
  float: right;
}
